body {
    margin: 0;
    padding: 0;
    background-color: #282536;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: small;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.8em;
    }

    .desktop-only {
        display: none;
    }

    #sub-nav {
        font-size: 0.7em;
    }

    #media {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .mobile-only {
        display: none;
    }

    .sub-nav {
        background-color: rgba(15.7,14.5,21.2,0.65);
    }
}

#top-header {
    background-size: cover;
    background-position: center;
    min-height: 30vh; /* need to be able to see the background image on mobile even if there's no content */
}

#main-nav {
    background-color: rgba(15.7,14.5,21.2,0.65);
    display: flex;
    justify-content: space-between;
}

#logo {
    font-weight: 600;
}

#bottom-header #title {
    text-align: center;
}

#carousel-links {
    text-align: center;
    padding: 2em;
}

.active-carousel {
    color: #23BBBE;
}

#main-nav {
    padding: 0.5em 1em;
}

#description, #mailing-list, #pre-order, .box {
    padding: 2em;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5em;
}

h2 {
    margin-bottom: -0.2em;
}

hr.h2 {
    width: 23%;
    margin-left: 0;
    color: #23BBBE;
}

hr.h1 {
    width: 33%;
    color: #308AE2;
    margin-bottom: 2em;
}

#sub-nav {
    background-color: #181721;
}

.sub-nav-stay {
    position: fixed;
    top: 0;
    width: 100%;
}

.sub-nav-stay + div {
    /* so the content below the sticky navigation doesn't jump so abruptly */
    margin-top: 4em;
  }

#sub-nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 1em;
}

#sub-nav ul li {
    padding: 1em;
}

#sub-nav a {
    text-decoration: none;
    color: #fff;
}

.release {
    line-height: 2em;
}

.ubisoft, .release-date {
    padding: 0 1em;
}

.ubisoft {
    border-right: 0.1em solid #fff;
}

.consoles {
    letter-spacing: 0.3em;
}

.box {
    box-shadow: 1px 1px 10px #000;
}

.edition {
    font-size: 1em;
    font-weight: 600;
}

.version {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

.price-basket {
    color: #308AE2;
}

.price-basket i {
    padding-left: 2em;
}

#mailing-list {
    background: linear-gradient(0deg, rgba(15.7,14.5,21.2,0.55) 0%, rgba(15.7,14.5,21.2,0.55) 60%, #282536 100%), url('../img/medusa.jpg');
    background-size: cover;
    background-position: center;
}

#register-email {
    display: block;
    background-color: rgba(45.9,45.9,58,0.55);
    border: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#register-email, button, input[type="button"], .box {
    border-radius: 0.5em;
}

button, input[type="button"] {
    background: linear-gradient(#308AE2, #23BBBE);
    border: none;
    padding: 1em 2.3em;
    color: #fff;
    font-weight: bold;
}

#email-form input{
    margin-top: 1em;
}