body {
    margin: 0;
    padding: 0;
    background-color: #282536;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

@media screen and (max-width: 800px) {
    body {
        font-size: 0.8em;
    }

    .desktop-only {
        display: none;
    }

    #sub-nav {
        font-size: 0.6em;
    }

    #media {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .mobile-only {
        display: none;
    }
}

header {
    background: linear-gradient(0deg,rgba(15.7,14.5,21.2,0.55),rgba(15.7,14.5,21.2,0.55)),url('../img/kick.jpg');
    background-size: cover;
    background-position: center;
}

main {
    padding: 1.3em;
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 2.4em;
}

h2 {
    margin-bottom: -0.2em;
}

hr.h2 {
    border-top: 1px solid #23BBBE;
    width: 23%;
    margin-left: 0;
}

#sub-nav {
    background-color: rgba(15.7,14.5,21.2,0.65);
}

#sub-nav ul {
    list-style-type: none;
    display: flex;
}

#sub-nav ul li {
    padding: 1em;
}

#sub-nav a {
    text-decoration: none;
    color: #fff;
}