:root {
    /* colours */
    --blue: #308ae2;
    --teal: #23bbbe;
    /* sizes */
    --main-padding: 2em;
    --main-font-size: 0.9em;
}

body {
    margin: 0;
    padding: 0;
    background-color: #282536;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: small;
}

@media screen and (max-width: 800px) {
    body {
        font-size: var(--main-font-size);
    }
    .desktop-only {
        display: none;
    }
    #sub-nav {
        font-size: 0.8em;
    }
    #top-header {
        background-position: center center;
    }
}

#top-header {
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    /* need to be able to see the background image on mobile even if there's no content */
}

#main-nav {
    background-color: rgba(15.7, 14.5, 21.2, 0.65);
    display: flex;
    justify-content: space-between;
}

#logo {
    font-weight: 600;
}

#bottom-header #title {
    text-align: center;
}

#carousel-links {
    text-align: center;
    padding: 2em;
}

.active-carousel {
    color: var(--teal);
}

#main-nav {
    padding: 0.5em 1em;
}

#media, #description, #mailing-list, #pre-order, .box {
    padding: var(--main-padding);
}

h1 {
    margin: 0;
    font-weight: 600;
    font-size: 1.5em;
}

h2 {
    margin-bottom: -0.2em;
}

hr.h2 {
    width: 23%;
    margin-left: 0;
    color: var(--teal);
}

hr.h1 {
    width: 33%;
    color: var(--blue);
    margin-bottom: var(--main-padding);
}

#sub-nav {
    background-color: #181721;
    z-index: 10;
}

.sub-nav-stay {
    position: fixed;
    top: 0;
    width: 100%;
}

.sub-nav-stay+div {
    /* so the content below the sticky navigation doesn't jump so abruptly */
    margin-top: 4em;
}

#sub-nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 1em;
}

#sub-nav ul li {
    padding: 1em;
}

#sub-nav a {
    text-decoration: none;
    color: #fff;
}

.sub-active {
    border-bottom: var(--teal) 2px solid;
}

.release {
    line-height: var(--main-padding);
}

.ubisoft, .release-date, .consoles {
    padding: 0 1em;
}

.ubisoft {
    border-right: 0.1em solid #fff;
}

.consoles {
    letter-spacing: 0.3em;
}

.box {
    box-shadow: 1px 1px 10px #000;
}

.edition {
    font-size: 1em;
    font-weight: 600;
}

.version {
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
}

.price-basket {
    color: var(--blue);
}

.price-basket i {
    padding-left: var(--main-padding);
}

#mailing-list {
    background: linear-gradient(0deg, rgba(15.7, 14.5, 21.2, 0.55) 0%, rgba(15.7, 14.5, 21.2, 0.55) 60%, #282536 100%), url('../img/medusa.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#register-email {
    display: block;
    background-color: rgba(45.9, 45.9, 58, 0.55);
    border: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

#register-email, button, input[type="button"], .box {
    border-radius: 0.5em;
}

button, input[type="button"] {
    background: linear-gradient(var(--blue), var(--teal));
    border: none;
    padding: 1em 2.3em;
    color: #fff;
    font-weight: bold;
    font-family: inherit;
}

#email-form input {
    margin-top: 1em;
}

.desktop-row {
    display: flex;
    flex-direction: column;
}

#carousel-thumbs {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

#carousel-thumbs img {
    /*display: inline-block;
    padding-right: var(--main-padding);*/
}

@media screen and (min-width: 801px) {
    :root {
        /* sizes */
        --main-padding: 4em;
    }
    .mobile-only {
        display: none;
    }
    #bottom-header #title {
        box-sizing: border-box;
        z-index: 3;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 15em var(--main-padding);
    }
    button, input[type="button"] {
        font-size: 1.2em;
    }
    #email-form input[type="button"] {
        padding: 0.5em 2em;
    }
    #main-nav {
        padding: 1em;
        font-size: 1.3em;
        opacity: 0.5;
    }
    #sub-nav {
        background-color: rgba(15.7, 14.5, 21.2, 0.85);
    }
    .sub-nav {
        width: 100%;
    }
    #top-header {
        background: linear-gradient(0deg, rgba(15.7, 14.5, 21.2, 0.55) 0%, rgba(15.7, 14.5, 21.2, 0.55) 60%, #282536 100%), url('../img/medusa.jpg');
        background-position: top center;
        min-height: 90vh;
    }
    h1 {
        font-size: 2.5em;
    }
    hr.h1 {
        width: 18%;
        margin: 0 0 1.5em 0;
        background-color: var(--blue);
        border: none;
        height: 0.2em;
    }
    .release {
        font-size: 1.5em;
        display: flex;
        line-height: 1em;
        margin-left: -1em;
        opacity: 0.8;
    }
    .release-date {
        border-right: 0.1em solid #fff;
    }
    #mailing-list {
        height: 50vh;
    }
    .desktop-row-container:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-position: top right;
        opacity: 0.03;
        margin-top: -50px;
    }
    .desktop-row-container {
        position: relative;
    }
    .desktop-row {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
    }
    #description {
        flex: 1;
    }
    #pre-order {
        flex: 0 0 30vw;
    }
    #email-form {
        display: flex;
    }
    #thumb-control {
        font-size: 1.8em;
    }
    #thumb-control span {
        cursor: pointer;
    }
}